{% extends 'base.html' %}

{% block page_title %} <title>Edit Warehouse</title> {% endblock %}

{% block body %}
    <h1 class="title">PRANNAV'S SNACK WAREHOUSES</h1> 
    <p class = "edit_top_message">Edit Warehouse WID {{warehouse.wid}}</p>

    <!-- Form that lets the user edit a existing warehouse entry -->
    <div class = "form">
        <form action = "/edit_warehouse/{{warehouse.wid}}" method = "POST">
            <input id="w_name_input" name = "w_name_input" 
            value="{{warehouse.name}}" required><br>

            <input type="text" id="city_input" name="city_input"
            value="{{warehouse.city}}" required><br>

            <input type="text" id="state_input" name="state_input"
            value="{{warehouse.state}}" required><br><br>
            
            <input type="submit" value="Edit Warehouse">
        </form><br>
        <form action = "/warehouses" method = "GET">
            <input type="submit" value="Cancel">
        </form>
    </div>  
{% endblock %}

