{% extends 'base.html' %}

{% block page_title %} <title>Inventory</title> {% endblock %}

{% block body %}
<h1 class="title">PRANNAV'S INVENTORY</h1>

    <!-- Form that lets the user add more entries -->
    <div class = "form">
        <form action="/", method="POST">
            <!-- <label for="item_input">Item:</label><br> -->
            <input type="text" id="item_input" name = "item_input" placeholder="Name"><br>

            <!-- <label for="quantity_input">Quantity:</label><br> -->
            <input type="text" id="quantity_input" name="quantity_input" placeholder="Quantity"><br>

            <!-- <label for="price_input">Price:</label><br> -->
            <input type="text" id="price_input" name="price_input" placeholder="Price"><br><br>
            
            <input type="submit" value="Add Item">
          </form>
    </div>          

    <!-- Inventory Table with entries -->
    <table class = "inventory-table" >
        <thead>
            <tr>
                <th>PID</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price ($)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row['pid']}}</td>
                    <td>{{row['name']}}</td>
                    <td>{{row['quantity']}}</td>
                    <td>{{row['price']}}</td>
                    <td>
                        <form action="/edit_item/{{row['pid']}}", method="GET">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="/delete_item/{{row['pid']}}", method="GET">
                            <input type="submit" value="Delete">
                        </form></td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}