{% extends 'base.html' %}

{% block page_title %} <title>Inventory</title> {% endblock %}

{% block body %}
    <h1 class="title">PRANNAV'S SNACK INVENTORY</h1>

    <div class = "form">
        <!-- User can view warehouses -->
        <form action="/warehouses", method="GET">
            <input type="submit" value="View/Add Warehouses"><br><br>
        </form></td>
        
        <!-- Form to add new item -->
        <form action="/", method="POST">
            <!-- Item Name input -->
            <input type="text" id="item_input" name="item_input" placeholder="Name" required><br>

            <!-- Quantity input -->
            <input type="number" id="quantity_input" name="quantity_input" 
            placeholder="Quantity" required><br>

            <!-- Price input -->
            <input type="number" step="0.01" id="price_input" name="price_input" 
            placeholder="Price" required type = "number"><br>

            <!-- Warehouse select input -->
            <select id="warehouse_select" name="warehouse_select" required>
                <option value="" selected hidden disabled>Select Warehouse</option>
                {% if warehouses|length == 0 %}
                    <!-- <option value = "no_warehouse" hidden disabled>None</option> -->
                {% else %}
                    {% for warehouse in warehouses %}
                        <option value = "{{warehouse['wid']}}">WID({{warehouse['wid']}}) {{warehouse['name']}}</option>
                    {% endfor %}
                {% endif %}
            </select><br><br>
            
            <!-- Button to add the item -->
            <input type="submit" value="Add Item"><br>
        </form>
        
        <!-- Used by message.html to show user a message -->
        <!-- {% block message %}{% endblock %} -->
        <p class="message">{{message}}</p>
    </div>         

    <!-- Inventory Table with entries -->
    <table class = "inventory-table" >
        <thead>
            <tr>
                <th>PID</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price ($)</th>
                <th>WID</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row['pid']}}</td>
                    <td>{{row['name']}}</td>
                    <td>{{row['quantity']}}</td>
                    <td>{{row['price']}}</td>
                    <td>{{row['warehouse_id']}}</td>
                    <td>
                        <form action="/edit_item/{{row['pid']}}", method="GET">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="/delete_item/{{row['pid']}}", method="GET">
                            <input type="submit" value="Delete">
                        </form></td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}