{% extends 'base.html' %}

{% block body %}
<h1 class="title">PRANNAV'S INVENTORY</h1>

    <!-- Form that lets the user add more entries -->
    <div align = "center">
        <form action="", method="post">
            <label for="item_input">Item:</label><br>
            <input type="text" id="item_input" name = "item_input"><br>

            <label for="quantity_input">Quantity:</label><br>
            <input type="text" id="quantity_input" name="quantity_input"><br>

            <label for="price_input">Price:</label><br>
            <input type="text" id="price_input" name="price_input"><br><br>
            
            <input type="submit" value="Submit">
          </form>
    </div>          

    <!-- Inventory Table with entries -->
    <table class = "inventory-table" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price ($)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row['id']}}</td>
                    <td>{{row['item']}}</td>
                    <td>{{row['quantity']}}</td>
                    <td>{{row['price']}}</td>
                    <td><button class = "button" onclick="editClick()">Edit</button></td>
                    <td><button class = "button" onclick="deleteClick()">Del</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}