{% extends 'base.html' %}

{% block page_title %} <title>Warehouses</title> {% endblock %}

{% block body %}
<h1 class="title">PRANNAV'S WAREHOUSES</h1>

    <!-- Form that lets the user add more entries -->
    <div class = "form">
        <form action="/warehouses", method="POST">
            <!-- <label for="w_name_input">Name:</label><br> -->
            <input type="text" id="w_name_input" name = "w_name_input" placeholder="Name"><br>

            <!-- <label for="city_input">City:</label><br> -->
            <input type="text" id="city_input" name="city_input" placeholder="City"><br>

            <!-- <label for="state_input">State:</label><br> -->
            <input type="text" id="state_input" name="state_input" placeholder="State"><br><br>
            
            <input type="submit" value="Add Warehouse">
          </form>
    </div>          

    <!-- Inventory Table with entries -->
    <table class = "inventory-table" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row['wid']}}</td>
                    <td>{{row['name']}}</td>
                    <td>{{row['city']}}</td>
                    <td>{{row['state']}}</td>
                    <td>
                        <form action="/edit_warehouse", method="POST">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="/delete_warehouse/{{row['wid']}}", method="POST">
                            <input type="submit" value="Delete">
                        </form></td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}