{% extends 'base.html' %}

{% block page_title %} <title>Warehouses</title> {% endblock %}

{% block body %}
    <h1 class="title">PRANNAV'S WAREHOUSES</h1>

    <div class = "form">
        <!-- User can go back to inventory -->
        <form action="/", method="GET">
            <input type="submit" value="Back to Inventory"><br><br>
        </form></td>

         <!-- User can add more warehouses-->
        <form action="/warehouses", method="POST">
            <!-- Warehouse name input -->
            <input type="text" id="w_name_input" name = "w_name_input" placeholder="Name"><br>

            <!-- City name input -->
            <input type="text" id="city_input" name="city_input" placeholder="City"><br>

            <!-- State name input -->
            <input type="text" id="state_input" name="state_input" placeholder="State"><br><br>
            
            <input type="submit" value="Add Warehouse">
          </form>
    </div>          

    <!-- Warehouse Table with entries -->
    <table class = "inventory-table" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row['wid']}}</td>
                    <td>{{row['name']}}</td>
                    <td>{{row['city']}}</td>
                    <td>{{row['state']}}</td>
                    <td>
                        <form action="/edit_warehouse", method="GET">
                            <input type="submit" value="Edit"><br>
                        </form>
                    </td>
                    <td>
                        <form action="/delete_warehouse/{{row['wid']}}", method="GET">
                            <input type="submit" value="Delete">
                        </form></td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}